@media screen and (min-width:320px) {
	.page {
		width: 300px;
	}

	.nav {
	text-align: left;
	}

	.nav ul li {
		display: block;
	}
}

@media screen and (min-width:580px) {
	.page {
		width: 560px;
	}

	.nav {
	text-align: center;
	}

	.nav ul li {
		display: inline;
	}

	.header img, .header h1 {
	display: inline;
	}

	.header h1 {
		font-size: 2.75rem;
		font-weight: 500;
		vertical-align: middle;
	}
}

@media screen and (min-width:720px){
	.page {
		width: 700px;
	}
	
	.nav {
		text-align: center;
	}

	.nav ul li {
		display: inline;
	}

	.header img, .header h1 {
	display: inline;
	}

	.header h1 {
		font-size: 2.75rem;
		font-weight: 500;
		vertical-align: middle;
	}
}

@media screen and (min-width:800px){
	.page {
		width: 780px;
	}

	.nav {
		text-align: center;
	}

	.nav ul li {
		display: inline;
	}

	.header img, .header h1 {
	display: inline;
	}

	.header h1 {
		font-size: 2.75rem;
		font-weight: 500;
		vertical-align: middle;
	}
}

@media screen and (min-width:1024px){
	.page {
		width: 1004px;
	}

	.nav {
		text-align: center;
	}

	.nav ul li {
		display: inline;
	}

	.header img, .header h1 {
	display: inline;
	}

	.header h1 {
		font-size: 2.75rem;
		font-weight: 500;
		vertical-align: middle;
	}
}

/* Background pattern from subtlepatterns.com */
body {
	background-color: #4095D5;
	background: url(escheresque/escheresque_@2X.png) repeat 0 0;
	font-family: 'Open Sans Condensed', sans-serif;	
	margin: 0;
	font-size: black;
}

.page {
	margin: 0 auto;
}

.header {
	border-top: 2px solid #000;
	text-align: center;
}

.header img {
	margin: 1rem 0 0 0;
	width: 100px;
	vertical-align: middle;
}

.nav ul {
	list-style: none;
}

.nav ul li {
	padding: .5rem;
	font-size: 1.5rem;
}

.nav ul li a, .nav ul li a:visited {
	font-weight: bold;
	text-decoration: none;
	color: #000;
	padding: .25rem .5rem;
}

.nav ul li a:hover, .nav ul li a:focus, .nav ul li a:active {
	color: whitesmoke;
	background-color: rgb(77, 106, 127);
	box-shadow: inset 1px 1px 3px rgba(29, 52, 73, 0.5),0px 1px 0px rgba(29,52,73,0.5);
	text-shadow: 0 1px 0 rgba(255,255,255,0.3);
}

.current {
	background-color: whitesmoke;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.5),0 1px 5px rgba(0,0,0,0.5);
	text-shadow: 0 1px 0 rgba(255,255,255,0.3);
}

.main > p {
	color: black;
	font-size: 2.5rem;
	text-align: center;
}

.testimonials {
	background-color: #4D6A7F;
	overflow-x: hidden !important;
	text-align: center;
	color: whitesmoke;
	box-shadow: inset -4px 4px 2px -2px rgba(49, 69, 84, 0.5), inset 4px -4px 2px -2px rgba(49, 69, 84, 0.5);
}

footer {
	border-top: 2px solid #000;
	padding: 1rem;
}

footer p {
	text-align: center;
}

footer p small {
	font-size: 1rem;
}

h1 {
	color: black;
}

.pricelist h2 {
	font-size: 2.75rem;
	font-weight: 800;
}	

fieldset {
	background-color: #f1f1f1;
	border: none;
	border-radius: 2px;
	margin-bottom: 12px;
	overflow: hidden;
	padding: 1.5em;
	display: block;
}


.fields {
	background-color: #fff;
	border: 1px solid black;
	margin: .75em;
	padding: .75em;
}


.radios {
	background-color: transparent;
	margin-bottom: 0;
	
}


.pform h2 {
	font-size: 1.75rem;
	font-weight: 800;
}